<ion-header>
    <div class="page-title">
        Congratulations
    </div>
</ion-header>

<ion-content *ngIf="satelliteObject && satelliteObject.satellite_name">
  <div class="ion-padding page-content">
    <p> Now you know exactly
        where {{satelliteObject.satellite_name}}
        lives. You should visit!
        But seriously, just point
        your antenna at the
        same place in the sky,
        and you’re all set. If you
        like, you can tap “Fine-
        Tune” for some
        advanced adjustment
        options. Otherwise,
        welcome to SatteFi™. </p>
  </div>
  <div class="ion-text-left ion-padding button-box">
      <ion-button (click)="moveToFinding()">Fine Tune</ion-button>
      <ion-button  (click)="moveToFinding()">Finish</ion-button>
  </div>
  <div class="ion-text-left ion-padding">
      
  </div>

</ion-content>
