<ion-header>
    <div class="page-title">
        Pointing in the right direction
    </div>
</ion-header>

<ion-content>
  <div class="ion-padding page-content">
    <p> Stand with your phone
        in your hand, arm
        extended, screen facing
        up, and rotate on your
        feet until the two clock
        hands on the next
        screen are at midnight. </p>
  </div>

  <div class="ion-padding page-svg">
      <canvas #canvas  >

      </canvas>

  </div>
  <div class="ion-text-right ion-padding">
      <ion-button [disabled]="disableNext" (click)="moveToFinding()">Next</ion-button>
  </div>

</ion-content>
